
:root{
    --light-blue: #0078CE;
    --light-blue-trans: #0078ce5e;
    --black-blue: #001626;
    --white-blue: #e8f5ff;
}

a{
    color: var(--black-blue);
    text-decoration: none;
    height: 100%;
    margin : 0 2%;
}

h2>a{
    width:fit-content;
    margin:0;
    color: var(--light-blue);
    font-weight: bold;
}

h2>a:hover{
    border-bottom: 3px solid var(--light-blue);
    border-radius: 2px;
}

h2>a:active{
    color: var(--black-blue);
}

body{
    height:100vh;
    width:100vw;
    background-color: var(--white-blue);
    margin:0;
    overflow-x: hidden;
}

h1{
    font-size: 2vw;
    color: var(--black-blue);
    padding:0;
    margin:0;
    height:100%;
    font-family: 'Inter', sans-serif;
    padding:3vh 0 1.5vh; /*top right+left bottom*/
    width:max-content;
}

h2{
    line-height: 150%;
    font-size: 1.5vw;
    margin:5% 5% 2.5% 5%; /*top,right,bottom,left */
    width:50%;
    font-family: 'Inter', sans-serif;
    color: var(--black-blue);
    font-weight: 100;
}

.body-container>.side-content-container>
.text-right-widget>h2{
    width:80%;
    margin-top: 2%;
}

h3{
    margin:0% 5% 0% 5%; /*top,right,bottom,left */
    font-size: 1.8vw;
    width:fit-content;
    font-family: 'Inter', sans-serif;
    color: var(--black-blue);
    border-bottom: 2px solid var(--light-blue);
    border-radius: 2px;
    padding-bottom: 2%;
}

.header{
    background-color: var(--light-blue);
    top:0;
    width: 100vw;
    height:fit-content;
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    transition: top 0.5s;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: var(--black-blue);
    transition: left 2s ease, width 2s ease; /* Smooth transitions for left position and width */
}

.left-header,.right-header{
    display: flex; 
    margin:0% 3% ; /*top+bottom,left+right */
    width:50%;
    height: 100%;
}

.right-header{
    justify-content: center;
}

.right-head-flex{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:100%;
}

.game-container {
    width: 100vw;
    height: 80vh; /* 80% of the viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 2% 0vw;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.text-left-widget,.text-right-widget{
    display:flex;
    width:100%;
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}

.image-right,.image-left{
    width:20%;
    height:auto;
    border-radius: 10px;
    margin :5%;
}

#timeline-container {
    position:relative;
    left: 0;
    width: 100%;
    height:fit-content;
    background: transparent;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 0;
    transition: top 0.2s;
    font-size: 0;
    overflow: hidden;
}

.timeline-cutout-container{
    width:fit-content;
    height:9vw;
}

.timeline-cutout{
    display: inline-block;
    width: auto;
    height:100%;
    padding:0;
}

#skills{
    margin-right:-0.07%;
}

.filler{
    flex-grow: 1;
    background-color: var(--white-blue);
}

#filler-right{
    margin-left:-0.015%;
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Enough width to cover movement left and right */
    height: 100%;
    display: flex;
    z-index: -100;
}

.background-right,.background-left {
    flex-grow: 1;
    height: 95%;
    transition: transform 0.3s ease-out;
}

.background-left {
    background-color: var(--light-blue);
    transform: translateX(0);
}

.background-right {
    background-color: var(--white-blue);
    transform: translateX(0);
}

#header-timeline-container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: fit-content;
    padding:0;
    margin:0;
    z-index: 100; /* Make sure it stays on top */
    transition: top 0.3s ease; /* Smooth transition */
}

.body-container-timeline{
    width:100%;
    height:fit-content;
    margin-top:15%;
}

.side-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-subtitle{
    display:flex;
    width:fit-content;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid var(--light-blue);
    border-radius: 2px;
}

#landscape-img{
    width: 30%;
}

.sub-section{
    display:flex;
    flex-direction: column;
    width:50%;
    padding:5%;
}

.sub-section>h2{
    width:100%;
}

.footer-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    border-top: 4px solid var(--black-blue);
    margin-top: 15%;
}

.info-widget{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin:2% 2% ; /*top+bottom,left+right */
}

.footer-icons{
    height: 4vw;
    width:auto;
}

.body-container{
    width:100%;
    height:fit-content;
    margin-top:6%;
}

.error{
    display:none;
}

.menu-container{
    
    display: none;

}

@media(max-width:1018px){

    .body-container{
        margin-top:10%;
    }

    #timeline-container{
        display: none;
    }

    .text-left-widget,.text-right-widget{

        flex-direction: column;
        width: 90vw;

    }

    .text-left-widget>img, .text-right-widget>img {
        order:-1;
    }

    h1{
        font-size: 3.5vw;
    }

    .info-widget>h1, .info-widget>a>h1{
        font-size: 2.6vw;
    }

    h2{
        font-size: 3vw;
        width:80vw;
        height:fit-content;
        margin-left:0;
        margin-right:0;
    }

    h3{
        font-size: 3vw;
    }

    .sub-section{
        width:80vw;
        padding:0;
        align-content: center;
        align-items: center;
    }

    .right-head-flex{
        display: none;
    }

    .menu-container {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height:100%;
    }
    
    .hamburger-menu {
        margin:0 3vw;
        width: 10vw;
        height: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1001;
    }
    
    .body-subtitle{
        width:80%;
    }

    .bar {
        width: 80%;
        height: 1vw;
        background-color: var(--black-blue);
        transition: all 0.3s;
        border-radius: 200px;
    }
    
    .fullscreen-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--light-blue-trans);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
        z-index: 1000;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .fullscreen-menu>ul>li>h2{
        margin:0;
    }
    
    .fullscreen-menu ul {
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    .fullscreen-menu ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6vh 0;
    }
    
    .fullscreen-menu ul li a {
        text-decoration: none;
        color: var(--black-blue);
        font-size: 5vw;
        transition: color 0.3s;
    }
    
    .fullscreen-menu ul li a:hover {
        border-bottom: 4px solid var(--black-blue);
        border-radius: 3px;
    }
    
    /* Hamburger to X transition */
    .hamburger-menu.active .bar:nth-child(1) {
        transform: rotate(45deg) translate(2.9vw, 0vw);
    }
    
    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger-menu.active .bar:nth-child(3) {
        transform: rotate(-45deg) translate(2.9vw, -0vw);
    }
    
    .fullscreen-menu.active {
        transform: translateY(0);
    }

}