
:root{
    --light-blue: #0078CE;
    --black-blue: #001626;
    --white-blue: #e8f5ff;
}

a{
    color: var(--black-blue);
    text-decoration: none;
    height: 100%;
    margin : 0 2%;
}

body{
    height:100vh;
    width:100vw;
    background-color: var(--white-blue);
    margin:0;
    overflow-x: hidden;
}

h1{
    color: var(--black-blue);
    padding:0;
    margin:0;
    height:100%;
    font-family: 'Inter', sans-serif;
    padding:3vh 0 1.5vh; /*top right+left bottom*/
    width:max-content;
}

h2{
    margin:5% 5% 2.5% 5%; /*top,right,bottom,left */
    width:50%;
    font-family: 'Inter', sans-serif;
    color: var(--black-blue);
}

a:hover{
    color:var(--white-blue);
}

.header{
    background-color: var(--light-blue);
    top:0;
    width: 100vw;
    height:fit-content;
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    transition: top 0.5s;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: var(--black-blue);
    transition: left 2s ease, width 2s ease; /* Smooth transitions for left position and width */
}

.left-header,.right-header{
    display: flex; 
    margin:0% 3% ; /*top+bottom,left+right */
    width:50%;
    height: 100%;
}

.right-header{
    justify-content: center;
}

.right-head-flex{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:100%;
}

.game-container {
    width: 100vw; /* 80% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    max-width: 1920px;
    max-height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin: 10% 0vw;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.text-left-widget,.text-right-widget{
    display:flex;
    width:100%;
    height:fit-content;
    align-items: center;
    justify-content: center;
    margin:0;
    padding:0;
}


.image-right,.image-left{
    width:20%;
    height:auto;
    border-radius: 10px;
    margin :5%;
}

#timeline-container {
    position:relative;
    left: 0;
    width: 100%;
    height:fit-content;
    background: transparent;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 0;
    transition: top 0.2s;
    font-size: 0;
    overflow: hidden;
}

.timeline-cutout-container{
    width:fit-content;
    height:20vh;
}

.timeline-cutout{
    display: inline-block;
    width: auto;
    height:20vh;
    margin-left:-1px;
    padding:0;
}

.filler{
    flex-grow: 1;
    background-color: var(--black-blue);
}

#background-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /* Enough width to cover movement left and right */
    height: 100%;
    display: flex;
    z-index: 100;
}

.background-right,.background-left {
    flex-grow: 1;
    height: 100%;
    transition: transform 0.3s ease-out;
}

.background-right {
    background-color: pink;
    transform: translateX(0vw);
}

.background-left {
    background-color: red;
    transform: translateX(0);
}

section {
    padding: 20px;
    margin-top: 60px; /* Enough space to see the timeline */
}

section h1 {
    margin-top: 0;
}

#header-timeline-container {
    position: fixed;
    top: 0px;
    width: 100%;
    height: fit-content;
    padding:0;
    margin:0;
    z-index: 100; /* Make sure it stays on top */
    transition: top 0.3s ease; /* Smooth transition */
}

