<div class = 'header'>
    <div class = 'left-header'>
        <a href = 'index.html' id='home-link'>
            <h1 id = name-header>Timothy Zammit</h1>
        </a>
    </div>

    <div class = 'right-header'>
        <div class = 'right-head-flex'>
            <a href = 'playing.html' id='playing-link' >
                <h1>Playing With Programming</h1>
            </a>
            <a href='thesis.html' id='thesis-link'>
                <h1>Thesis</h1>
            </a>
        </div>
    </div>

</div>