<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <base href="">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    
    <div id="header-timeline-container">

        <div id="header-placeholder"></div>

        <div id="timeline-container">
            <div class = "filler"></div>
            <div class="timeline-cutout-container">
                <img src="../images/cutout-start.png" id="start" class="timeline-cutout">
                <img src="../images/cutout-xp.png" id="xp" class="timeline-cutout">
                <img src="../images/cutout-tech-skills.png" id="skills" class="timeline-cutout">
                <img src="../images/cutout-interests.png" id="interests" class="timeline-cutout">
            </div>
            <div id="filler-right" class = "filler"></div>
        </div>

        <div id="background-container">
            <div class="background-left"></div>
            <div class="background-right"></div>
        </div>

    </div>

    <div class="body-container">

        <!-- About Me -->
        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    About Me
                </h1>
            </div> 
            <div class="marker"></div>
            <div class = "text-left-widget">
                <h2>
                    My name is Timothy Zammit and I have finished my final year in Software Development from the University of Malta. I am adept in a variety of technologies,
                    however, through my course projects I developed a keen interest in frontend development as well as video game design and data structures and algorithms.
                    <br><br>Apart from this, I also gained experience in team management and realised my eagerness to develop my talents on this area.
                    Should you wish to explore my reference feel free to download <a href="../misc-files/ref_Timothy_Zammit.pdf" download="ref_Timothy_Zammit.pdf">this pdf</a>
                </h2>
                <img src="../images/timmy-image.jpg" class="image-right"></img>
            </div>
        </div>

        <!-- Previous Experience -->
        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    Previous Experience
                </h1>
            </div> 
            <div class="marker"></div>
            <!-- GAPT -->
            <div class = "text-right-widget">
                <img src="../images/gapt-title-screen.png" class="image-left" id="landscape-img"></img>
                <div class="sub-section">
                    <h3>GAPT - Playing With Programming</h3>
                    <h2>
                        GAPT is a group assignment given in the second year of the Software Development Course and is used to see how students apply their knowledge to a real world project.
                        <br><br>This project is a video game used to teach children how to code and was in high consideration to be implemented at Esplora Interactive Science Center. To learn more
                        about the project and try out the video game click <a href="../templates/playing.html" >here</a>
                    </h2>
                </div>
            </div>
            <!-- Showshappening -->
            <div class = "text-left-widget">
                <div class="sub-section">
                    <h3>Showshappening</h3>
                    <h2>
                        During the summer of 2022 I was able to obtain an internship and the popular ticket company Showshappening, where I was tasked with creating a user friendly FAQs page.
                        <br><br> During this internship I gained real world experience and learned how to take a non-technical client's ideas and turn them into reality.
                    </h2>
                </div>
                <img src="../images/showshappening.png" class="image-right"></img>
            </div>
        </div>

        <!-- Technical Skills -->
        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    Technical Skills
                </h1>
            </div>
            <div class="marker"></div> 
            <div class = "text-left-widget">
                <h2>
                    During my course I covered a large number of programming languages and technologies and am proficient in: Java, HTML, CSS, JavaScript, C#, Unity C#, .NET, SQL and C.
                    <br><br>Apart from these programming based languages and technologies I am also very familiar with Figma. This allows me to quickly design and create UI mockups and icons.
                    <br><br> I am also familiar with python, kotlin, AJAX and Google CLoud Platform.
                </h2>
                <img src="../images/languages-logos.png" class="image-right"></img>
            </div>
        </div>

        <!-- Interests -->
        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    Interests
                </h1>
            </div>
            <div class="marker"></div> 
            <div class = "text-right-widget">
                <img src="../images/water-skiing.jpg" class="image-left"></img>
                <h2>
                    In my free time I enjoy alot of active sports and hobbies such as Calisthenics, water skiing, boating and rock climbing.
                    <br><br> I also enjoy more leisurely, personal activities in the form of PC Building, Formula 1, traveling and reading.
                </h2>
            </div>
        </div>

        <div class="footer-container">

            <!-- phone no. -->
            <div class="info-widget">
                <img class="footer-icons" src="../images/phone-icon.png">
                <h1>+356 99008861</h1>
            </div>

            <!-- email -->
            <div class="info-widget">
                <img class="footer-icons" src="../images/email-icon.png">
                <a href="mailto:timothyzammit03@gmail.com">
                    <h1>timothyzammit03@gmail.com</h1>
                </a>
            </div>

            <!-- location -->
            <div class="info-widget">
                <img class="footer-icons" src="../images/location-icon.png">
                <h1>San Gwann, Malta</h1>
            </div>

        </div>

    </div>

    <script src="../scripts/headerController.js"></script>
    <script src="../scripts/timelineController.js"></script>

</body>
</html>



