<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <base href="">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    
    <div id="header-timeline-container">

        <div id="header-placeholder"></div>

        <div id="timeline-container">
            <div class = "filler"></div>
            <div class="timeline-cutout-container">
                <img src="../images/cutout-start.png" id="start" class="timeline-cutout">
                <img src="../images/cutout-xp.png" id="xp" class="timeline-cutout">
                <img src="../images/cutout-tech-skills.png" id="skills" class="timeline-cutout">
                <img src="../images/cutout-interests.png" id="interests" class="timeline-cutout">
            </div>
            <div id="filler-right" class = "filler"></div>
        </div>

        <div id="background-container">
            <div class="background-left"></div>
            <div class="background-right"></div>
        </div>

    </div>

    <div class="body-container">

        <!-- About Me -->
        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    About Me
                </h1>
            </div> 
            <div class="marker"></div>
            <div class = "text-left-widget">
                <h2>
                    My name is Timothy Zammit and I have finished my final year in Software Development from the University of Malta. I am adept in a variety of technologies,
                    however, through my course projects I developed a keen interest in frontend development as well as video game design and data structures and algorithms.
                    <br><br>Apart from this, I also gained experience in team management and realised my eagerness to develop my talents on this area.
                    I am highly adaptable and empathetic with a love of solving
                    problems with relentless deteremination.
                </h2>
                <img src="../images/timmy-image.jpg" class="image-right"></img>
            </div>
        </div>

        <!-- Previous Experience -->
        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    Previous Experience
                </h1>
            </div> 
            <div class="marker"></div>
            <div class = "text-right-widget">
                <img src="../images/gapt-title-screen.png" class="image-left" id="landscape-img"></img>
                <div class="sub-section">
                    <h3>GAPT - Playing With Programming</h3>
                    <h2>
                        GAPT is a group assignment given in the second year of the Software Development Course and is used to see how students apply their knowledge to a real world project.
                        <br><br>This project is a video game used to teach children how to code and was in high consideration to be implemented at Esplora Interactive Science Center. To learn more
                        about the project and try out the video game click<a href="./playing.html" >here</a>
                    </h2>
                </div>
            </div>
            <div class = "text-left-widget">
                <h2>
                    My name is Timothy Zammit and I have finished my final year in Software Development from the University of Malta. I am adept in a variety of technologies,
                    however, through my course projects I developed a keen interest in frontend development as well as video game design and data structures and algorithms.
                    <br><br>Apart from this, I also gained experience in team management and realised my eagerness to develop my talents on this area.
                    I am highly adaptable and empathetic with a love of solving
                    problems with relentless deteremination.
                </h2>
                <img src="../images/timmy-image.jpg" class="image-right"></img>
            </div>
        </div>

        <!-- Technical Skills -->
        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    About Me
                </h1>
            </div>
            <div class="marker"></div> 
            <div class = "text-left-widget">
                <h2>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore nesciunt impedit aliquam accusamus vero dolorum, voluptatum molestias quis porro aspernatur sapiente mollitia 
                    itaque beatae deleniti reprehenderit illum! Deserunt, culpa sed.
                </h2>
                <img src="../images/AR HUD example.png" class="image-right"></img>
            </div>
        </div>

        <!-- Interests -->
        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    About Me
                </h1>
            </div>
            <div class="marker"></div> 
            <div class = "text-right-widget">
                <img src="../images/AR HUD example.png" class="image-left"></img>
                <h2>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore nesciunt impedit aliquam accusamus vero dolorum, voluptatum molestias quis porro aspernatur sapiente mollitia 
                    itaque beatae deleniti reprehenderit illum! Deserunt, culpa sed.
                </h2>
            </div>
        </div>
    </div>

    <script src="../scripts/headerController.js"></script>
    <script src="../scripts/timelineController.js"></script>

</body>
</html>



