<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timothy Zammit CV</title>
    <base href="">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div id="header-timeline-container">
        <div id="header-placeholder"></div>
    </div>
    
    <div class="body-container">

        <div class="side-content-container">
            <div class="marker"></div>
            <div class="body-subtitle">
                <h1>
                    What is Playing with Programming?
                </h1>
            </div> 
            <div class = "text-right-widget">
                <h2>
                    Playing with Programming is the result of a group project required during the Software Development course known 
                    as the GAPT. This project is meant for students to apply what they have learnt throughout the course to create
                    an industry standard solution.
                    <br><br> Each group of students are given a different project. Our group's project was to create a video game
                    for young children aged 7-10 that teaches them the basics of programming using Lego style blocks.
                    <br><br>I was tasked with creating the design and logic of the Lego style blocks. I also took the role of team leader
                    and was in charge of taking the supervisor's vision and turning that vision into a solution.
                    <br><br>Below is a WebGL port of the working solution that may be played on this website.
                </h2>
            </div>
        </div>

        <div class="game-container">
            <iframe src="../PlayingWithProgramming/index.html" frameborder="0" style="aspect-ratio: 1920 / 1080;" scrolling="no"></iframe>
        </div>

        <div class="footer-container">

            <!-- phone no. -->
            <div class="info-widget">
                <img class="footer-icons" src="../images/phone-icon.png">
                <h1>+356 99008861</h1>
            </div>

            <!-- email -->
            <div class="info-widget">
                <img class="footer-icons" src="../images/email-icon.png">
                <a href="mailto:timothyzammit03@gmail.com">
                    <h1>timothyzammit03@gmail.com</h1>
                </a>
            </div>

            <!-- location -->
            <div class="info-widget">
                <img class="footer-icons" src="../images/location-icon.png">
                <h1>San Gwann, Malta</h1>
            </div>

        </div>

    </div>

    <div class="error">
        <h2>Apologies, this website is still being developed and requires a minimum screen size of 1019px</h2>
    </div>

    <script src="../scripts/headerController.js"></script>
    <script src="../scripts/gameWindowController.js"></script>
    <script src="../scripts/timelineController.js"></script>
    <script src="../scripts/hamburger.js"></script>

</body>
</html>
