<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <base href="">
    <link rel="stylesheet" href="../styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <div id="header-timeline-container">
        <div id="header-placeholder"></div>
    </div>

    <div class="body-container">

        <div class="side-content-container">
            <div class="body-subtitle">
                <h1>
                    AR Driving using Mobile Phones
                </h1>
            </div> 
            <div class="marker"></div>
            <div class = "text-left-widget">
                <h2>
                    For my thesis carried out at the end of my course, I researched AR Driving using Mobile Phones.
                    During my research I realized that a major issue with current AR solutions is that
                    hardware is too expensive.
                    <br><br> Therefore the aim of this research is to make AR more accessible by creating an AR
                    app on a mobile phone that only requires an additional $18 for a headset to place the user's phone
                    in. An example of this can be seen on the right.
                    <br><br> The issue with making AR available on mobile phones is that stereoscopic vision must be achieved.
                    Stereoscopic vision refers to the ability for humans to see in 3D using the different perspectives of both eyes.
                    The slightly different views of each eye is blended by the brain to create a 3D image, allowing humans to perceive
                    depth.
                    <br><br> The scope of this project, therefore, was to achieve stereoscopic vision using a single mobile phone
                    camera with minimal lag. If you wish to read more about the research conducted and results achieved you may download
                    the thesis from here : 
                    <a href="misc-files/AR_Driving_Using_Mobile_Phones.pdf" download="AR_Driving_Using_Mobile_Phones.pdf">AR Driving using Mobile Phones</a>.
                </h2>
                <img src="../images/headset-showcase-vertical.png" class="image-right"></img>
            </div>
        </div>

    </div>

    <div class="error">
        <h2>Apologies, this website is still being developed and requires a minimum screen size of 1019px</h2>
    </div>

</body>
</html>

<script src="../scripts/headerController.js"></script>
